@font-face {
    font-family: material icons;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(//perspective-imgix.s3.eu-central-1.amazonaws.com/assets/app/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(//perspective-imgix.s3.eu-central-1.amazonaws.com/assets/app/fonts/MaterialIcons-Regular.woff) format('woff')
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #000
}

button:focus {
    outline: none
}